<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <div>
      <button mat-icon-button [routerLink]='["/homepage"]'><span style="font-size: 20px;">
          <mat-icon>book</mat-icon>Book Cart
        </span>
      </button>
    </div>

    <div>
      <app-searchbox></app-searchbox>
    </div>

    <div>

      <button mat-icon-button>
        <mat-icon class="mat-badge-warn" matBadge="{{wishlist_count}}" madBadgeColor="warn" routerLink="wish_list">
          favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-badge-warn" matBadge="{{cart_count}}" madBadgeColor="warn" routerLink="shopping_cart">
          shopping_cart</mat-icon>
      </button>
      <button mat-button *ngIf="!login" [routerLinkActive]='["link-active"]' [routerLink]='["/login"]'
        (click)="logout()">Login</button>

      <button mat-button *ngIf="login" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>Swathi
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]='["/myorders"]'>MyOrders</button>
        <button mat-menu-item [routerLink]='["/login"]' (click)="login1()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>