.spacer{
    flex: 1 1 auto;
}
mat-toolbar{
  justify-content: space-between;
  align-items: center;
}
.toolbar{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}









 