.searchbox {
    border:0px;
    border-radius: 3px;
    padding: 12px;
    height: 33px;
    width: 400px;
    font-size: 20px;
    outline: none;
    margin-left: 400px;
    margin-right:500PX;
}



